/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control {
  border-color: inherit;
}

.form-control:focus {
  outline: none;
  box-shadow: none; /* Supprime l'ombre */
  border-color: inherit; /* Utilise la couleur de bordure du parent */
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--color-febb69);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
}


.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Header Part */
.header-top-strip {
  border-bottom: 1px solid var(--color-828599);
  background-color: var(--color-212529);
}

.header-upper {
  background-color: var(--color-212529);
}

.header-bottom {
  background-color: var(--color-232f3e);
}


.header-bottom .menu-links a, 
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  /* text-emphasis: none; *//* Supprime toute mise en évidence textuelle (non standard ou mal utilisée ici, aucun effet attendu) */
  text-transform: uppercase;
} 

.header-bottom .dropdown button:focus {
  box-shadow: none;
} 

.header-bottom .dropdown-menu {
  background-color: var(--color-232f3e);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important; /* Déplace l'élément de 57px vers le bas sur l'axe Y avec accélération matérielle, priorité forcée. */
} 

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-232f3e);
} 

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-ffd333) !important;
} 

.header-upper .input-group-text {
  background-color: var(--color-ffd333);
}

.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}



/* Header Part */

/* Footer Part */
footer {
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-828599);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px ;
}
/* Footer Part */

/* Home Page */

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  /* color: var(--co lor-bf4800); */
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  /* font-weight: 500; */
  line-height: 28px;
  color: var(--color-131921);
  letter-spacing: 0.4;
  /* text-transform: none; */
}


.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  /* color: var(--co lor-bf4800); */
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  /* font-weight: 500; */
  line-height: 22px;
  color: var(--color-131921);
  letter-spacing: 0.4;
  /* text-transform: none; */
}

.small-banner {
  width: 49%;
}

/* Hone wrapper 2 */

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div > div {
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

/* Hone wrapper 2 */



/* Home Page */


/* Blog Part */

.blog-card {
  background-color: white;
  /* padding: 20px; */
  border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}

.blog-content h5 {
  font-size: 18px;
  /* line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400; */
  color: var(--color-131921);
  /* padding: 0; */
}

.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  /* text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400; */
  color: var(--color-777777);
  /* padding: 0; */
}

.single-blog-card a {
    font-size: 18px;
    color: var(--color-777777);
    margin-bottom: 20px;
}

.single-blog-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-1c1c1b);
}

.single-blog-card p {
    color: var(--color-777777);
    font-size: 14px;
}

/* Blog Part */


/* Product Part */

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product-card .product-image {
  height: 270px;
}

.product-card .product-image img {
  object-fit: contain;
  transition: 0.3s;
}

.product-card .product-image > img:last-child {
  display: none;
}

.product-card:hover .product-image > img:nth-child(1) {
  display: none;
  transition: 0.3s;
}

.product-card:hover .product-image > img:last-child {
  display: block;
  transition: 0.3s;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  color: var(--color-1c1c1b);
  font-size: 13px;
}


.product-card .product-details p.price {
  color: var(--color-1c1c1b);
  font-size: 16px;
}

.product-card p.description {
    font-size: 13px;
    color: var(--color-777777);
    margin-right: 20px;
}

.action-bar {
  top: 10%;
  right: -23Px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

/* Product Part */

/* Special Product */
.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}
/* Special Product */

/* Famous Card */
.famous-card .famous-content {
  top: 10%;
  left: 5%;
}

.famous-card img {
  border-radius: 10px;
}

.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.famous-content h6 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: white;
}


.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}

/* Famous Card */

/* Our Store */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked {
  background-color: var(--color-febb69);
  border-color: var(--color-febb69);
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 20px;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: #47ad24;
  border-radius: 50%;
}

.random-products h5{
  font-size: 14px;
  margin-bottom: 8px;
}

.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.gr-12 {
    width: 100%;
}
.gr-6 {
    width: 49%;
}
.gr-4 {
    width: 32%;
}

.gr-6 .product-image {
    width: 100%;
}

.gr-6 .product-image img {
    margin: auto;
    display: block;
}

.gr-3 {
    width: 24%;
}

.gr-12 .product-card {
    display: flex;
    gap: 20px;
}

.gr-12 .product-card .product-image {
    width: 270px;
    height: auto;
} 

.gr-12 .action-bar {
    top: 17%;
} 

/* Our Store */

/* Contact Page */
.contact-inner-wrapper {
    padding: 30px 20px;
    border-radius: 15px;
    background-color: white;
    gap: 15px;
}

.contact-inner-wrapper > div {
    width: 48%;
}

.contact-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
}

.contact-inner-wrapper form .form-control {
    background-color: var(--color-f5f5f7);
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
}

.contact-inner-wrapper ul {
  list-style: none;
}

.contact-inner-wrapper address, 
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}

/* Contact Page */

/* Compare Product */

.compare-product-card {
    padding: 20px 15px;
    background-color: white;
    border-radius: 10px;
}

.compare-product-card .cross,
.wishlist-card .cross {
    top: 15px;
    right: 15px;
    width: 25px;
    padding: 3px;
    cursor: pointer;
}

.compare-product-details h5.title,
.wishlist-card h5.title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-1c1c1b);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

.compare-product-card .product-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Compare Product */

/* auth card */

.auth-card {
    padding: 20px;
    background-color: white;
    width: 500px;
    margin: 30px auto;
    border-radius: 10px;
}

.auth-card h3 {
    font-size: 19px;
    font-weight: 500;
    color: var(--color-777777);
}

.auth-card p {
    font-size: 13px;
    color: var(--color-777777);
}

.auth-card .form-control {
    height: 50px;
    background-color: var(--color-f5f5f7);
    color: var(--color-777777);
    font-size: 14px;
    border-radius: 10px;
    border-color: transparent;
}

.auth-card a {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-1c1c1b);
}

.auth-card .signup {
    background-color: var(--color-febd69);
    color: var(--color-131921);
}

.auth-card .signup:hover {
    background-color: var(--color-131921);
    color: white;
}
/* auth card */


/* policy pages */
.policy {
    background-color: white;
    padding: 30px;
}
/* policy pages */

/* Main Product Page */
.review-inner-wrapper {
    background-color: white;
    padding: 30px;
}
.review-head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}
.review-head h4 {
    font-size: 18px;
    color: var(--color-1c1c1b);
}
.review-head p,
.review-head a {
    font-size: 14px;
    color: var(--color-777777);
}
.review-form h4 {
    font-size: 16px;
    color: var(--color-777777);
}

.review p {
    font-size: 14px;
    color: var(--color-777777);
}
/* Main Product Page */


/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */


:root {
  --color-212529: #212529;
  --color-232f3e: #232f3e;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-bf4800: #bf4800;
  --color-ced4da: #ced4da;
  --color-131921: #131921;
  --color-febb69: #febb69;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

.green {
  color: var(--color-47ad24);
  font-size: 14px;
  font-family: Roboto !important;
}

.red {
  color: var(--color-212529);
  font-size: 14px;
  font-family: Roboto !important;
}

.quill {
  background-color: white;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-ced4da);
}

.title {
  font: 28px;
  font-family: Roboto !important;
  color: var(--color-212529);
}

.sub-title {
  font: 24px;
  font-family: Roboto !important;
  color: var(--color-212529);
}

.desc {
  font: 14px;
  font-family: Roboto !important;
  color: var(--color-828599);
} 
