/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control {
  border-color: inherit;
}

.form-control:focus {
  outline: none;
  box-shadow: none; /* Supprime l'ombre */
  border-color: inherit; /* Utilise la couleur de bordure du parent */
}

/* Header Part */
.header-top-strip {
  border-bottom: 1px solid var(--color-828599);
  background-color: var(--color-212529);
}

.header-upper {
  background-color: var(--color-212529);
}

.header-bottom {
  background-color: var(--color-232f3e);
}


.header-bottom .menu-links a, 
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  /* text-emphasis: none; *//* Supprime toute mise en évidence textuelle (non standard ou mal utilisée ici, aucun effet attendu) */
  text-transform: uppercase;
} 

.header-bottom .dropdown button:focus {
  box-shadow: none;
} 

.header-bottom .dropdown-menu {
  background-color: var(--color-232f3e);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important; /* Déplace l'élément de 57px vers le bas sur l'axe Y avec accélération matérielle, priorité forcée. */

} 

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-232f3e);
} 

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-ffd333) !important;
} 

.header-upper .input-group-text {
  background-color: var(--color-ffd333);
}

.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}


/* Header Part */



/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */


:root {
  --color-212529: #212529;
  --color-232f3e: #232f3e;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-3d464d: #ed464d;
  --color-c3d4da: #ced4da;
}

.green {
  color: var(--color-47ad24);
  font-size: 14px;
  font-family: Roboto !important;
}

.red {
  color: var(--color-212529);
  font-size: 14px;
  font-family: Roboto !important;
}

.quill {
  background-color: white;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-c3d4da);
}

.title {
  font: 28px;
  font-family: Roboto !important;
  color: var(--color-212529);
}

.sub-title {
  font: 24px;
  font-family: Roboto !important;
  color: var(--color-212529);
}

.desc {
  font: 14px;
  font-family: Roboto !important;
  color: var(--color-828599);
} 
